@import url(./reset.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Roboto:300,900&display=swap');
ul {
    list-style: none;
}


/* LOGO AND MENU*/

.wrapper {
    width: 1115px;
    margin: 0 auto;
    padding-top: 40px;
}

.logo a {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    color: hsl(0, 0%, 32%);
    float: left;
    text-decoration: none;
}

.logo a::first-letter {
    color: hsl(168, 76%, 42%);
    font-weight: 900;
}

.navigation li {
    float: left;
    list-style: none;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 700;
}

.navigation a {
    text-transform: uppercase;
    color: hsl(0, 0%, 32%);
    font-family: 'Open Sans', sans-serif;
}

.navigation {
    float: right;
    padding: 0;
    margin: 0;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover {
    color: hsl(168, 76%, 42%);
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}


/* PRODUCTS*/

ul {
    list-style: none;
}

.featured-products,
.latest-news {
    text-align: center;
    padding-top: 105px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: hsl(0, 0%, 32%);
    font-size: 48px;
}

.featured-products::after,
.latest-news::after,
.news-name::after {
    display: block;
    width: 165px;
    height: 6px;
    background-color: hsl(168, 76%, 42%);
    content: '';
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item {
    width: 256px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: hsl(219, 83%, 95%);
}

.content li:nth-child(4n+4) {
    margin-right: 0;
}

.content li:nth-last-child(-n+4) {
    margin-bottom: 0;
}

.item-name {
    background-color: hsla(0, 0%, 20%, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    text-transform: uppercase;
    float: left;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 15px;
    width: 201px;
    text-align: left;
}

.item-price {
    background-color: hsla(0, 0%, 20%, 0.4);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-right: 10px;
    text-align: right;
}

.item a {
    text-decoration: none;
}

.item-name-hover:hover .item-name {
    background-color: hsl(168, 76%, 42%);
}

.item-price-hover:hover .item-price {
    background-color: hsla(168, 54%, 67%, 0.43);
}

.content::after {
    margin-bottom: 50px;
}


/* NEWS*/

.latest-news {
    padding-top: 100px;
}

.news li {
    font-family: 'Open Sans', sans-serif;
    width: 348px;
    float: left;
    margin-right: 35px;
    text-align: left;
}

.news li:nth-child(3n+3) {
    margin-right: 0;
}

.news-img {
    margin-bottom: 15px;
}

.news-name {
    font-weight: 700;
    font-size: 18px;
    color: hsl(0, 2%, 33%);
    line-height: 30px;
}

.news-name::after {
    width: 135px;
    height: 1px;
    margin-left: 0;
    margin-top: 10px;
}

.news-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: hsl(0, 2%, 33%);
    margin-bottom: 30px;
}

.btn-read-more a {
    border: none;
    background-color: hsl(167, 51%, 54%);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: hsl(168, 38%, 97%);
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 3px;
}

.btn-read-more {
    margin-bottom: 80px;
}